.font-nav {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
  }

  .bg-color-nav {
    background-color: rgb(161, 181, 125);
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgb(211, 236, 167); 
  }

  .logo-nav {
    background-image: linear-gradient(
      to right,
      #B33030,
      #B33030 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.logo-nav:before {
    content: '';
    background: #B33030;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.logo-nav:hover {
   background-position: 0;
}

.logo-nav:hover::before {
    width: 100%;
}

